public/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link href="css/style.css" rel="stylesheet"><link href="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" rel="stylesheet"><link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png"><link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32"><link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16"><link rel="manifest" href="/img/favicon/manifest.json"><link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#000000"><meta name="theme-color" content="#ffffff"><link rel="icon" href="/img/favicon/favicon.ico"></head><body><div class="row menu-fixed container middle-xs" id="menu-fixed"><div class="col-md-12 col-sm-12 hidden-xs row around-xs"><a href="#header">Inicio</a><a href="#sectionOne">¿Qué es cgs?</a><a href="#sectionCalendar">Programación</a><a href="#sponsors">Sponsors</a><a class="yellow" href="#">Streaming</a></div></div><div class="topBar" id="header"><div class="row container"><div class="col-md-6 col-sm-6 col-xs-6"><a class="socialIcon" href="https://www.facebook.com/ColGameShow/" target="_blank"><i class="fa fa-facebook"></i></a><a class="socialIcon" href="https://www.youtube.com/channel/UCphH9DBo3hN-bJcVq6KeCRg" target="_blank"><i class="fa fa-youtube"></i></a><a class="socialIcon" href="https://www.instagram.com/ColombiaGameShow/" target="_blank"><i class="fa fa-instagram"></i></a><a class="socialIcon" href="https://twitter.com/ColGameShow" target="_blank"><i class="fa fa-twitter"></i></a><a class="socialIcon" href="https://www.twitch.tv/colgameshow" target="_blank"><i class="fa fa-twitch"></i></a></div><div class="col-md-6 col-sm-4 col-xs-6 end-xs"><a class="btn btn-yellow" href="#subscribe"><i class="fa fa-envelope-o bold">&nbsp;</i>SUSCRIBIRME</a></div></div></div><div class="headerSection"><div class="container"><div class="row menu" data-aos="fade-down"><div class="col-md-12 col-sm-12 hidden-xs row around-xs"><a href="#header">Inicio</a><a href="#sectionOne">¿Qué es cgs?</a><a href="#sectionCalendar">Programación</a><a href="#sponsors">Sponsors</a><a class="yellow" href="">Streaming</a></div></div><div class="row center-xs"><div class="col-md-4 col-sm-6 col-xs-10"><img src="/img/cgs_logo.png" data-aos="zoom-in-down"><div class="row center-xs" data-aos="zoom-in-down"><div class="col-xs-2"><h1 class="regular">2</h1></div><div class="col-xs-2"><h1 class="regular">0</h1></div><div class="col-xs-2"><h1 class="regular">1</h1></div><div class="col-xs-2"><h1 class="regular">	6</h1></div></div><div class="row center-xs" data-aos="flip-down"><div class="bandera"></div><div class="bandera-info"><strong>NOVIEMBRE</strong><strong class="yellow">12</strong><strong>al</strong><strong class="yellow">20</strong><br>Centro Comercial Santa Fé</div></div><div class="row buttons"><div class="col-xs-6" data-aos="fade-right" data-aos-duration="1000"><button class="btn-square" href="#where">Ubicación</button></div><div class="col-xs-6" data-aos="fade-left" data-aos-duration="1000"><button class="btn-square" href="#sectionCalendar">Programación</button></div></div></div></div></div></div><div class="sectionOne" id="sectionOne" style="position:relative"><div class="container"><div class="row description"><div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-xs start-sm"><h2 class="normal">¿QUÉ ES EL</h2><h1 class="yellow">COLOMBIA GAME SHOW?</h1><p><strong>Colombia Game Show</strong>es un evento pensado y creado para gamers, un  espacio propicio con una gran arena donde los players puedan mostrar su potencial en ámbitos competitivos participando en diferentes torneos de alto nivel.</p><h3 class="blueDark">Sigue el evento con el hashtag</h3><h3>#EnCGS2016</h3><div class="redes row center-xs start-sm" data-aos="fade-right" data-aos-duration="1000"><a class="socialIcon-facebook" href="https://www.facebook.com/ColGameShow/" target="_blank"><i class="fa fa-facebook"></i></a><a class="socialIcon-youtube" href="https://www.youtube.com/channel/UCphH9DBo3hN-bJcVq6KeCRg" target="_blank"><i class="fa fa-youtube"></i></a><a class="socialIcon-instagram" href="https://www.instagram.com/ColombiaGameShow/" target="_blank"><i class="fa fa-instagram"></i></a><a class="socialIcon-twitter" href="https://twitter.com/ColGameShow" target="_blank"><i class="fa fa-twitter"></i></a><a class="socialIcon-twitch" href="https://www.twitch.tv/colgameshow" target="_blank"><i class="fa fa-twitch"></i></a></div></div></div></div><img class="hidden-xs" src="/img/games.png"></div><div class="sectionTwo" id="sectionTwo"><div class="container"><div class="row description center-xs" id="reasons"><div class="col-xs-12 center-xs"><h2 class="lighter">RAZONES PARA IR AL</h2><h2>COLOMBIA GAME SHOW</h2></div><div class="col-md-12 col-sm-12 col-xs-10 row around-xs"><div class="col-md-2 col-sm-3 col-xs-6 center-xs" data-aos="fade-right"><img src="/img/trivias.png"><h3>TRIVIAS</h3></div><div class="col-md-2 col-sm-3 col-xs-6 center-xs" data-aos="zoom-in"><img src="/img/torneos.png"><h3>DESAFÍOS</h3></div><div class="col-md-2 col-sm-3 col-xs-6 center-xs" data-aos="fade-left"><img src="/img/cosplay.png"><h3>COSPLAY</h3></div></div></div></div></div><div class="sectionCalendar" id="sectionCalendar" style="position:relative"><img class="pj1" src="/img/pj_calendar2.png"><img class="pj2" src="/img/pj_calendar1.png"><div class="row container center-xs"><div class="col-xs-12"><h2 class="yellow">PROGRAMACIÓN</h2><P>El evento se realizará en el mes de Noviembre. Selecciona el<strong>día que asistirás al evento</strong>para saber el cronograma:</P><div class="days"><button class="day active" id="12">12</button><button class="day" id="13">13</button><button class="day" id="14">14</button><button class="day" id="15">15</button><button class="day" id="16">16</button><button class="day" id="17">17</button><button class="day" id="18">18</button><button class="day" id="19">19</button><button class="day" id="20">20</button></div></div></div><div class="row container"><div class="col-xs-12"><table id="minutes"><thead><tr><th>HORA</th><th>ACTIVIDAD</th></tr></thead><tbody class="active" id="12"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>1:30 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>2:00 PM</div></td><td><div>LANZAMIENTO OFICIAL COLOMBIA GAME SHOW</div></td></tr><tr><td><div>3:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>3:30 PM</div></td><td><div>Puesta en Escena PlayStation</div></td></tr><tr><td><div>4:30 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>5:30 PM</div></td><td><div>Desafio Gamer: FIFA</div></td></tr><tr><td><div>6:00 PM</div></td><td><div>CULTURA GAMER</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="13"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>1:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>1:30 PM</div></td><td><div>MUESTRA LANZAMIENTOS VIDEOJUEGOS 1 SEM 2017</div></td></tr><tr><td><div>2:30 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>3:30 PM</div></td><td><div>SEMIFINAL Y FINAL COPA EASPORTS PANAMERICANA</div></td></tr><tr><td><div>5:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>6:00 PM</div></td><td><div>CULTURA GAMER</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="14"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>1:00 PM</div></td><td><div>TRIVIA BATTLEFAN</div></td></tr><tr><td><div>3:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>4:00 PM</div></td><td><div>Comunidad SMASH COLOMBIA</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="15"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>1:00 PM</div></td><td><div>COMUNIDAD RETROCLUB COLOMBIA</div></td></tr><tr><td><div>3:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>3:30 PM</div></td><td><div>CULTURA GAMER</div></td></tr><tr><td><div>4:30 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>5:00 PM</div></td><td><div>COMUNIDAD NIVEL GAMER</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="16"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>12:30 PM</div></td><td><div>PUESTA EN ESCENA JVLAT</div></td></tr><tr><td><div>2:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>2:30 PM</div></td><td><div>CULTURA GAMER</div></td></tr><tr><td><div>3:30 PM</div></td><td><div>Intervención SAMSUNG</div></td></tr><tr><td><div>4:00 PM</div></td><td><div>COMUNIDAD OFC  - Street fighter</div></td></tr><tr><td><div>5:30 PM</div></td><td><div>COMUNIDAD OFC  - KOF 14</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="17"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>12:30 PM</div></td><td><div>COMUNIDAD FPS</div></td></tr><tr><td><div>2:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>2:30 PM</div></td><td><div>CULTURA GAMER</div></td></tr><tr><td><div>3:30 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>4:00 PM</div></td><td><div>PUESTA EN ESCENA ELECTRONIC ARTS</div></td></tr><tr><td><div>5:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>5:30 PM</div></td><td><div>COMUNIDAD TEKKEN</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="18"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>1:30 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>2:00 PM</div></td><td><div>COMUNIDAD FIFA</div></td></tr><tr><td><div>3:30 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>4:00 PM</div></td><td><div> Comunidad 7</div></td></tr><tr><td><div>5:30 PM</div></td><td><div>Intervención SAMSUNG</div></td></tr><tr><td><div>6:00 PM</div></td><td><div>NOVEDADES XBOX</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="19"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>12:30 PM</div></td><td><div>SEMIFINAL Y FINAL CALL OF DUTY</div></td></tr><tr><td><div>2:00 PM</div></td><td><div>RECESO</div></td></tr><tr><td><div>2:30 PM</div></td><td><div>Rey de la cancha - FIFA17 con XBOX</div></td></tr><tr><td><div>3:30 PM</div></td><td><div> RECESO</div></td></tr><tr><td><div>4:00 PM</div></td><td><div>ANUNCIO PREMIOS PROFESION GAMER</div></td></tr><tr><td><div>5:30 PM</div></td><td><div>DESAFÍO BATTLEFAN</div></td></tr><tr><td><div>6:00 PM</div></td><td><div>SUBASTA GAMER</div></td></tr><tr><td><div>7:00 PM</div></td><td><div>Cierre de Actividades</div></td></tr></tbody><tbody id="20"><tr><td><div>11:00 AM</div></td><td><div>Inicio de actividades CGS</div></td></tr><tr><td><div>12:30 PM</div></td><td><div>CULTURA GAMER</div></td></tr><tr><td><div>1:30 PM</div></td><td><div>CONCURSO DE COSPLAY GAMER</div></td></tr><tr><td><div>3:30 PM</div></td><td><div>Intervención SAMSUNG</div></td></tr><tr><td><div>4:00 PM</div></td><td><div> DESAFIO GEARS OF WAR 4</div></td></tr><tr><td><div>6:00 PM</div></td><td><div>CLAUSURA / SHOW</div></td></tr><tr><td><div>5:30 PM</div></td><td><div>DESAFÍO BATTLEFAN</div></td></tr></tbody></table></div></div><form class="validate" id="subscribe" action="//colombiagameshow.us13.list-manage.com/subscribe/post?u=a320610fd71b18338c6c42577&amp;amp;id=2ec5350ee4" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate><div class="row container center-xs form"><div class="col-md-6 col-xs-11 col-sm-8"><p>Suscríbete al evento y recibe notificaciones de las actividades</p><input class="email" placeholder="&#xF003; Correo Electrónico" type="email" value="" name="EMAIL" id="mce-EMAIL" required></div></div><div class="row container center-xs"><button class="col-md-2 btn btn-yellow" type="submit"><i class="fa fa-envelope-o bold">&nbsp;</i>SUSCRIBIRME</button></div></form></div><div class="platform row"><img src="/img/platform.png" style="height:100%"></div><div class="socialFollow" id="socialFollow"><div class="row container center-xs"><div class="col-xs-12"><p class="bold">Sigue el evento con el hashtag</p><h1><strong class="yellow">#</strong>En<strong class="yellow">CGS</strong>2016</h1></div></div><div class="row container center-xs"><div class="col-xs-12 row"><div class="col-md-4 row center-xs"><a class="socialIcon-twitter" href="https://twitter.com/ColGameShow" target="_blank"><i class="fa fa-twitter"></i></a><a class="btn-twitter" href="https://twitter.com/ColGameShow" target="_blank">Twitter</a></div><div class="col-md-4 row center-xs"><a class="socialIcon-facebook" href="https://www.facebook.com/ColGameShow/" target="_blank"><i class="fa fa-facebook"></i></a><a class="btn-facebook" href="https://www.facebook.com/ColGameShow/" target="_blank">Facebook</a></div><div class="col-md-4 row center-xs"><a class="socialIcon-instagram" href="https://www.instagram.com/ColombiaGameShow/" target="_blank"><i class="fa fa-instagram"></i></a><a class="btn-instagram" href="https://www.instagram.com/ColombiaGameShow/" target="_blank">Instagram</a></div></div><div class="col-xs-12 row" id="twitterList"></div></div></div><div class="where" id="where"><div class="row container middle-xs"><div class="col-md-7 col-xs-12 row middle-xs arround-xs"><div class="col-md-8 col-xs-8 col-sm-10 center-xs start-sm"><h2>¿CÓMO LLEGAR AL EVENTO?</h2><h3 class="yellowDark">Centro Comercial Santa Fé</h3><h4 class="yellowDark">Cl. 185 #453, Bogotá</h4><h2>UBICACIONES DEL EVENTO</h2><h4 class="yellowDark lighter" style="margin:0"><strong>Ecuador 1er Piso:</strong>FIFA y Call Of Duty</h4><h4 class="yellowDark lighter" style="margin:0"><strong>Ecuador 2do Piso:</strong>Titanfall 2 y Battlefield</h4><h4 class="yellowDark lighter" style="margin:0"><strong>Plaza Café:</strong>Xbox – Gears of war – Recore – Killer Instinct – FIFA</h4><h4 class="yellowDark lighter" style="margin:0"><strong>Plaza Italia 2do Piso:</strong>Just Dance 2017</h4><h4 class="yellowDark lighter"><strong>Auditorio:</strong>Actividades Múltiples. Trivias - Desafíos  - Cosplay</h4></div><div class="col-md-3 col-xs-3 col-sm-2 center-xs"><img src="/img/SantaFeLogo.png"></div></div><div class="col-md-5 col-xs-12 photo middle-xs"><img src="/img/SantaFe.png"><img src="/img/santa2.png"></div></div></div><div class="map row"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.046254195565!2d-74.04744925004647!3d4.761958696524642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8593cfb53fab%3A0x7e1314c3e84e41a2!2sCentro+Comercial+Santaf%C3%A9!5e0!3m2!1sen!2sco!4v1478611012446" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></div><div class="sponsors row container" id="sponsors"><div class="col-xs-12 center-xs"><h3 class="black">SPONSORS</h3></div><div class="col-xs-12 center-xs gallery js-flickity" data-flickity-options="{ &quot;freeScroll&quot;: true, &quot;wrapAround&quot;: true,  &quot;autoPlay&quot;: 2000 }"><div class="gallery-cell"><img src="/img/ea.png"></div><div class="gallery-cell"><img src="/img/ubi.png"></div><div class="gallery-cell"><img src="/img/play.png"></div><div class="gallery-cell"><img src="/img/xbox.png"></div><div class="gallery-cell"><img src="/img/sam.png"></div><div class="gallery-cell"><img src="/img/acti.png"></div></div></div><div class="image row middle-xs"><img src="/img/toniDesign.png"></div><footer class="row around-sm middle-xs center-xs"><div class="col-md-2 col-xs-7 first-sm"><p style="text-align:left">By</p><img src="/img/redbutton.png"></div><div class="col-md-4 center-xs first-xs"><h3>CONTACTO</h3><p>info@colombiagameshow.com</p><div class="redes row center-xs center-sm"><a class="socialIcon-facebook" href="https://www.facebook.com/ColGameShow/" target="_blank"><i class="fa fa-facebook"></i></a><a class="socialIcon-youtube" href="https://www.youtube.com/channel/UCphH9DBo3hN-bJcVq6KeCRg" target="_blank"><i class="fa fa-youtube"></i></a><a class="socialIcon-instagram" href="https://www.instagram.com/ColombiaGameShow/" target="_blank"><i class="fa fa-instagram"></i></a><a class="socialIcon-twitter" href="https://twitter.com/ColGameShow" target="_blank"><i class="fa fa-twitter"></i></a><a class="socialIcon-twitch" href="https://www.twitch.tv/colgameshow" target="_blank"><i class="fa fa-twitch"></i></a></div><p>Síguenos en nuestras redes sociales</p></div><div class="col-md-2 col-xs-7"><img src="/img/SantaFe_d.png" style="width:60%"></div></footer><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script><script src="/js/aos.js"></script><script src="/js/twitter.js"></script><script src="/js/main.js"></script></body></html>

src/views/index.pug
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(href="css/style.css", rel="stylesheet")
		link(href="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" , rel="stylesheet")
		//-icons
		link(rel="apple-touch-icon", sizes="180x180", href="/img/favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/img/favicon/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/img/favicon/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="/img/favicon/manifest.json")
		link(rel="mask-icon", href="/img/favicon/safari-pinned-tab.svg", color="#000000")
		meta(name="theme-color", content="#ffffff")
		link(rel="icon" href="/img/favicon/favicon.ico")
	body
		.row.menu-fixed.container.middle-xs#menu-fixed
			.col-md-12.col-sm-12.hidden-xs.row.around-xs
				a(href="#header") Inicio
				a(href="#sectionOne") ¿Qué es cgs?
				a(href="#sectionCalendar") Programación
				a(href="#sponsors") Sponsors
				a.yellow(href="#") Streaming
		.topBar#header
			.row.container
				.col-md-6.col-sm-6.col-xs-6
					a.socialIcon(href="https://www.facebook.com/ColGameShow/" target="_blank")
						i.fa.fa-facebook
					a.socialIcon(href="https://www.youtube.com/channel/UCphH9DBo3hN-bJcVq6KeCRg" target="_blank")
						i.fa.fa-youtube
					a.socialIcon(href="https://www.instagram.com/ColombiaGameShow/" target="_blank")
						i.fa.fa-instagram
					a.socialIcon(href="https://twitter.com/ColGameShow" target="_blank")
						i.fa.fa-twitter
					a.socialIcon(href="https://www.twitch.tv/colgameshow" target="_blank")
						i.fa.fa-twitch
				.col-md-6.col-sm-4.col-xs-6.end-xs
					a.btn.btn-yellow(href="#subscribe")
						i.fa.fa-envelope-o.bold &nbsp;
						| SUSCRIBIRME
		.headerSection
			.container
				.row.menu(data-aos="fade-down")
					.col-md-12.col-sm-12.hidden-xs.row.around-xs
						a(href="#header") Inicio
						a(href="#sectionOne") ¿Qué es cgs?
						a(href="#sectionCalendar") Programación
						a(href="#sponsors") Sponsors
						a.yellow(href="") Streaming
				.row.center-xs
					.col-md-4.col-sm-6.col-xs-10
						img(src="/img/cgs_logo.png" data-aos="zoom-in-down")
						.row.center-xs(data-aos="zoom-in-down")
							.col-xs-2
								h1.regular 2
							.col-xs-2
								h1.regular 0
							.col-xs-2
								h1.regular 1
							.col-xs-2
								h1.regular 	6
						.row.center-xs(data-aos="flip-down")
							.bandera
							.bandera-info
								strong NOVIEMBRE
								strong.yellow 12
								strong al
								strong.yellow 20
								br
								| Centro Comercial Santa Fé
						.row.buttons
							.col-xs-6(data-aos="fade-right" data-aos-duration="1000")
								button.btn-square(href="#where") Ubicación
							.col-xs-6(data-aos="fade-left" data-aos-duration="1000")
								button.btn-square(href="#sectionCalendar") Programación
		.sectionOne#sectionOne(style="position:relative;")
			.container
				.row.description
					.col-lg-6.col-md-6.col-sm-8.col-xs-12.center-xs.start-sm
						h2.normal ¿QUÉ ES EL
						h1.yellow COLOMBIA GAME SHOW?
						p
							strong Colombia Game Show
							| es un evento pensado y creado para gamers, un  espacio propicio con una gran arena donde los players puedan mostrar su potencial en ámbitos competitivos participando en diferentes torneos de alto nivel.
						h3.blueDark Sigue el evento con el hashtag
						h3 #EnCGS2016
						.redes.row.center-xs.start-sm(data-aos="fade-right" data-aos-duration="1000")
							a.socialIcon-facebook(href="https://www.facebook.com/ColGameShow/" target="_blank")
								i.fa.fa-facebook
							a.socialIcon-youtube(href="https://www.youtube.com/channel/UCphH9DBo3hN-bJcVq6KeCRg" target="_blank")
								i.fa.fa-youtube
							a.socialIcon-instagram(href="https://www.instagram.com/ColombiaGameShow/" target="_blank")
								i.fa.fa-instagram
							a.socialIcon-twitter(href="https://twitter.com/ColGameShow" target="_blank")
								i.fa.fa-twitter
							a.socialIcon-twitch(href="https://www.twitch.tv/colgameshow" target="_blank")
								i.fa.fa-twitch
			img.hidden-xs(src="/img/games.png")
		.sectionTwo#sectionTwo
			.container
				.row.description.center-xs#reasons
					.col-xs-12.center-xs
						h2.lighter RAZONES PARA IR AL
						h2 COLOMBIA GAME SHOW

					.col-md-12.col-sm-12.col-xs-10.row.around-xs
						.col-md-2.col-sm-3.col-xs-6.center-xs(data-aos="fade-right")
							img(src="/img/trivias.png")
							h3 TRIVIAS
						.col-md-2.col-sm-3.col-xs-6.center-xs(data-aos="zoom-in")
							img(src="/img/torneos.png")
							h3 DESAFÍOS
						.col-md-2.col-sm-3.col-xs-6.center-xs(data-aos="fade-left")
							img(src="/img/cosplay.png")
							h3 COSPLAY
		.sectionCalendar#sectionCalendar(style="position:relative;")
			img.pj1(src="/img/pj_calendar2.png")
			img.pj2(src="/img/pj_calendar1.png")
			.row.container.center-xs
				.col-xs-12
					h2.yellow PROGRAMACIÓN
					P El evento se realizará en el mes de Noviembre. Selecciona el
						strong día que asistirás al evento
						| para saber el cronograma:
					.days
						button.day.active#12 12
						button.day#13 13
						button.day#14 14
						button.day#15 15
						button.day#16 16
						button.day#17 17
						button.day#18 18
						button.day#19 19
						button.day#20 20

			.row.container
				.col-xs-12
					table#minutes
						thead
							tr
								th HORA
								th ACTIVIDAD
						tbody#12.active
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS

							tr
								td
									div 1:30 PM
								td
									div RECESO
							tr
								td
									div 2:00 PM
								td
									div LANZAMIENTO OFICIAL COLOMBIA GAME SHOW
							tr
								td
									div 3:00 PM
								td
									div RECESO
							tr
								td
									div 3:30 PM
								td
									div Puesta en Escena PlayStation
							tr
								td
									div 4:30 PM
								td
									div RECESO
							tr
								td
									div 5:30 PM
								td
									div Desafio Gamer: FIFA
							tr
								td
									div 6:00 PM
								td
									div CULTURA GAMER
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#13
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS

							tr
								td
									div 1:00 PM
								td
									div RECESO
							tr
								td
									div 1:30 PM
								td
									div MUESTRA LANZAMIENTOS VIDEOJUEGOS 1 SEM 2017
							tr
								td
									div 2:30 PM
								td
									div RECESO
							tr
								td
									div 3:30 PM
								td
									div SEMIFINAL Y FINAL COPA EASPORTS PANAMERICANA
							tr
								td
									div 5:00 PM
								td
									div RECESO
							tr
								td
									div 6:00 PM
								td
									div CULTURA GAMER
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#14
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS

							tr
								td
									div 1:00 PM
								td
									div TRIVIA BATTLEFAN
							tr
								td
									div 3:00 PM
								td
									div RECESO
							tr
								td
									div 4:00 PM
								td
									div Comunidad SMASH COLOMBIA
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#15
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS

							tr
								td
									div 1:00 PM
								td
									div COMUNIDAD RETROCLUB COLOMBIA
							tr
								td
									div 3:00 PM
								td
									div RECESO
							tr
								td
									div 3:30 PM
								td
									div CULTURA GAMER
							tr
								td
									div 4:30 PM
								td
									div RECESO
							tr
								td
									div 5:00 PM
								td
									div COMUNIDAD NIVEL GAMER
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#16
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS

							tr
								td
									div 12:30 PM
								td
									div PUESTA EN ESCENA JVLAT
							tr
								td
									div 2:00 PM
								td
									div RECESO
							tr
								td
									div 2:30 PM
								td
									div CULTURA GAMER
							tr
								td
									div 3:30 PM
								td
									div Intervención SAMSUNG
							tr
								td
									div 4:00 PM
								td
									div COMUNIDAD OFC  - Street fighter
							tr
								td
									div 5:30 PM
								td
									div COMUNIDAD OFC  - KOF 14
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#17
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS

							tr
								td
									div 12:30 PM
								td
									div COMUNIDAD FPS
							tr
								td
									div 2:00 PM
								td
									div RECESO
							tr
								td
									div 2:30 PM
								td
									div CULTURA GAMER
							tr
								td
									div 3:30 PM
								td
									div RECESO
							tr
								td
									div 4:00 PM
								td
									div PUESTA EN ESCENA ELECTRONIC ARTS
							tr
								td
									div 5:00 PM
								td
									div RECESO
							tr
								td
									div 5:30 PM
								td
									div COMUNIDAD TEKKEN
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#18
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS
							tr
								td
									div 1:30 PM
								td
									div RECESO
							tr
								td
									div 2:00 PM
								td
									div COMUNIDAD FIFA
							tr
								td
									div 3:30 PM
								td
									div RECESO
							tr
								td
									div 4:00 PM
								td
									div  Comunidad 7
							tr
								td
									div 5:30 PM
								td
									div Intervención SAMSUNG
							tr
								td
									div 6:00 PM
								td
									div NOVEDADES XBOX
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#19
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS
							tr
								td
									div 12:30 PM
								td
									div SEMIFINAL Y FINAL CALL OF DUTY
							tr
								td
									div 2:00 PM
								td
									div RECESO
							tr
								td
									div 2:30 PM
								td
									div Rey de la cancha - FIFA17 con XBOX
							tr
								td
									div 3:30 PM
								td
									div  RECESO
							tr
								td
									div 4:00 PM
								td
									div ANUNCIO PREMIOS PROFESION GAMER
							tr
								td
									div 5:30 PM
								td
									div DESAFÍO BATTLEFAN
							tr
								td
									div 6:00 PM
								td
									div SUBASTA GAMER
							tr
								td
									div 7:00 PM
								td
									div Cierre de Actividades
						tbody#20
							tr
								td
									div 11:00 AM
								td
									div Inicio de actividades CGS
							tr
								td
									div 12:30 PM
								td
									div CULTURA GAMER
							tr
								td
									div 1:30 PM
								td
									div CONCURSO DE COSPLAY GAMER
							tr
								td
									div 3:30 PM
								td
									div Intervención SAMSUNG
							tr
								td
									div 4:00 PM
								td
									div  DESAFIO GEARS OF WAR 4
							tr
								td
									div 6:00 PM
								td
									div CLAUSURA / SHOW
							tr
								td
									div 5:30 PM
								td
									div DESAFÍO BATTLEFAN
			form#subscribe(action="//colombiagameshow.us13.list-manage.com/subscribe/post?u=a320610fd71b18338c6c42577&amp;id=2ec5350ee4" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
				.row.container.center-xs.form
					.col-md-6.col-xs-11.col-sm-8
						p Suscríbete al evento y recibe notificaciones de las actividades
						input(placeholder!="&#xF003; Correo Electrónico" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required)
				.row.container.center-xs
					button.col-md-2.btn.btn-yellow(type="submit")
							i.fa.fa-envelope-o.bold &nbsp;
							| SUSCRIBIRME
		.platform.row
			img(src="/img/platform.png" style="height:100%")
		.socialFollow#socialFollow
			.row.container.center-xs
				.col-xs-12
					p.bold Sigue el evento con el hashtag
					h1
						strong.yellow #
						| En
						strong.yellow CGS
						| 2016
			.row.container.center-xs
				.col-xs-12.row
					.col-md-4.row.center-xs
						a.socialIcon-twitter(href="https://twitter.com/ColGameShow" target="_blank")
							i.fa.fa-twitter
						a.btn-twitter(href="https://twitter.com/ColGameShow" target="_blank") Twitter
					.col-md-4.row.center-xs
						a.socialIcon-facebook(href="https://www.facebook.com/ColGameShow/" target="_blank")
							i.fa.fa-facebook
						a.btn-facebook(href="https://www.facebook.com/ColGameShow/" target="_blank") Facebook
					.col-md-4.row.center-xs
						a.socialIcon-instagram(href="https://www.instagram.com/ColombiaGameShow/" target="_blank")
							i.fa.fa-instagram
						a.btn-instagram(href="https://www.instagram.com/ColombiaGameShow/" target="_blank") Instagram
				.col-xs-12.row#twitterList
		.where#where
			.row.container.middle-xs
				.col-md-7.col-xs-12.row.middle-xs.arround-xs
					.col-md-8.col-xs-8.col-sm-10.center-xs.start-sm
						h2 ¿CÓMO LLEGAR AL EVENTO?
						h3.yellowDark Centro Comercial Santa Fé
						h4.yellowDark Cl. 185 #453, Bogotá
						h2 UBICACIONES DEL EVENTO
						h4.yellowDark(style="margin:0").lighter
							strong Ecuador 1er Piso:
							| FIFA y Call Of Duty
						h4.yellowDark(style="margin:0").lighter
							strong Ecuador 2do Piso:
							| Titanfall 2 y Battlefield
						h4.yellowDark(style="margin:0").lighter
							strong Plaza Café:
							| Xbox – Gears of war – Recore – Killer Instinct – FIFA
						h4.yellowDark(style="margin:0").lighter
							strong Plaza Italia 2do Piso:
							| Just Dance 2017
						h4.yellowDark.lighter
							strong Auditorio:
							| Actividades Múltiples. Trivias - Desafíos  - Cosplay
					.col-md-3.col-xs-3.col-sm-2.center-xs
						img(src="/img/SantaFeLogo.png")
				.col-md-5.col-xs-12.photo.middle-xs
					img(src="/img/SantaFe.png")
					img(src="/img/santa2.png")
		.map.row
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.046254195565!2d-74.04744925004647!3d4.761958696524642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8593cfb53fab%3A0x7e1314c3e84e41a2!2sCentro+Comercial+Santaf%C3%A9!5e0!3m2!1sen!2sco!4v1478611012446" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)
		.sponsors#sponsors.row.container
			.col-xs-12.center-xs
				h3.black SPONSORS
			.col-xs-12.center-xs.gallery.js-flickity(data-flickity-options='{ "freeScroll": true, "wrapAround": true,  "autoPlay": 2000 }')
				.gallery-cell
					img(src="/img/ea.png")
				.gallery-cell
					img(src="/img/ubi.png")
				.gallery-cell
					img(src="/img/play.png")
				.gallery-cell
					img(src="/img/xbox.png")
				.gallery-cell
					img(src="/img/sam.png")
				.gallery-cell
					img(src="/img/acti.png")
		.image.row.middle-xs
			img(src="/img/toniDesign.png")
		footer.row.around-sm.middle-xs.center-xs
			.col-md-2.col-xs-7.first-sm
				p(style="text-align:left") By
				img(src="/img/redbutton.png")
			.col-md-4.center-xs.first-xs
				h3 CONTACTO
				p info@colombiagameshow.com
				.redes.row.center-xs.center-sm
					a.socialIcon-facebook(href="https://www.facebook.com/ColGameShow/" target="_blank")
						i.fa.fa-facebook
					a.socialIcon-youtube(href="https://www.youtube.com/channel/UCphH9DBo3hN-bJcVq6KeCRg" target="_blank")
						i.fa.fa-youtube
					a.socialIcon-instagram(href="https://www.instagram.com/ColombiaGameShow/" target="_blank")
						i.fa.fa-instagram
					a.socialIcon-twitter(href="https://twitter.com/ColGameShow" target="_blank")
						i.fa.fa-twitter
					a.socialIcon-twitch(href="https://www.twitch.tv/colgameshow" target="_blank")
						i.fa.fa-twitch
				p Síguenos en nuestras redes sociales
			.col-md-2.col-xs-7
				img(src="/img/SantaFe_d.png" style="width:60%")

		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js")
		script(src="/js/aos.js")
		script(src="/js/twitter.js")
		script(src="/js/main.js")
